{
    "presets": ["react-native"],
    "plugins": [
        "transform-decorators-legacy"
    ],
    "env": {
        "development": {
            "plugins": ["react-flow-props-to-prop-types"]
        }
    }
}
